# Generated projects
vs2019/

# Intermediate build directories
[Dd]ebug/
[Rr]elease/

# Visual Studio
*.VC.db
*.opendb
*.suo
*.user
*.ilk
*.iobj
*.ipdb
*.pdb
ipch/
.vs/

# Xcode and OS X
xcuserdata
.DS_Store

# FastBuild files
.fbcache/
fbuild.fdb
