[submodule "DESIRE-Modules/Script-Squirrel/Externals/squirrel"]
	path = DESIRE-Modules/Script-Squirrel/Externals/squirrel
	url = https://github.com/albertodemichelis/squirrel.git
[submodule "DESIRE-Modules/Script-Lua/Externals/LuaBridge"]
	path = DESIRE-Modules/Script-Lua/Externals/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge.git
